{% load static %}
<link rel = 'stylesheet' type="text/css" href="{% static 'cf/top_news.css' %}">

<h1 style="text-align: center;">CF </h1>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="80%" color=#987cb9 SIZE=3>

<div style="margin:0 auto;width: 80%;text-align: left; ">
    <h5>
        <div style="float: left;">
        <a href="{%url 'page' 1 %}" style="text-decoration: none;color: #333333;">Problem </a>&nbsp; &nbsp; 
        <a href="{%url 'log_in'%}" style="text-decoration: none;color: #333333;">Log_In </a>&nbsp; &nbsp;
        <a href="/cf/{{name}}" style="text-decoration: none;color: #333333;";>{{name}}</a>
        </div>
        <div style="float: right;">
        {%if name != "" and name != None %}
            <a href="{%url 'log_out'%}" style="text-decoration: none;color: #333333;">Log_out</a>
        {%endif%}
        </div>
    </h5>
</div>
<br><br>

<div style="margin: auto; width: 80%; text-align: left;">
    {%for new in news%}
        <div class="news">
        <table>
            <tr>
            <td><div class="line"></div></td>
            {%if new.top %}
                <td><div class="top_tag">[Top]</div></td>
            {%endif%}
            <td><a href="{%url 'news' new.id%}" style="text-decoration: none;"> {{new.title}}</a></td>
            </tr>
        </table>

        </div>
    {%endfor%}
</div>
