<script type="text/javascript">
    function fun1(){
        var pwd0 = document.getElementById("password").value; 
        var pwd = document.getElementById("verify_password").value;
        if(pwd0 != pwd){
            // document.getElementById("verify_password").innerHTML="Password dose not match"
            document.getElementById("is_verify_pwd").innerHTML= "Password dose not match"
        }
        else{
            document.getElementById("is_verify_pwd").innerHTML="";
        }
    }
</script>

<div style="margin:auto; text-align: center; width: 30%;position:absolute;top:200px;left:200px;right:200px;bottom:200px;">
        <form action="" method="POST">
            {% csrf_token %}
            <tbody>
                {%if msg != ""%}
                    <h5>{{msg}}</h5>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#987cb9 SIZE=3> 
                {%endif%}
                <table style="margin: auto;">
                    <tr style="height: 20px;">
                        <td><label for="name">Name*: </label></td>
                        <td><input id="name" type="text" name="name"></td> 
                    </tr>
                    <tr style="height: 20px;">
                        <td><label for="password">Password*: </label></td>
                        <td><input id="password" type="password" name="password"></td> 
                    </tr>
                    <tr style="height: 20px;">
                        <td><label for="verify_password">Verify Password*: </label></td>
                        <td><input id="verify_password" type="password" onchange="fun1()"></td>
                        <td id = "is_verify_pwd"></td>
                    </tr>
                    <tr style="height: 20px;">
                        <td><label for="email">Email: </label></td>
                        <td><input id="email" type="text" name="email"></td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Submit" style="text-align: center;">
                <div style="text-align: right;">
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#987cb9 SIZE=3>
                    <a href="{% url 'log_in'%}">Log In</a>
                </div>
            </tbody>
        </form>
    </div>