<style>
    .main{
        width: 1250px;
        background-color: #ddeeff;
        margin: 2em auto;
        border-radius: 8px;
        padding: 2em;
    }
</style>


<div class="main">
<h2>Solved</h2>
<table class="array">
{% for each in solved %}
    <tr class="item">
    {% for pro_id in each%}
        <td>
            <a href="/cf/problem/{{pro_id}}/">{{pro_id}}</a>
        </td> 
    {% endfor%}
    </tr>
{%endfor%}
</table>
<h2> Unsolved</h2>
<table class="array">
    {% for each in unsolved %}
        <tr class="item">
        {% for pro_id in each%}
            <td>
                <a href="/cf/problem/{{pro_id}}/">{{pro_id}}</a>
            </td> 
        {%endfor%}
        </tr>
    {%endfor%}
    </table>

<h2>Recent Submitssions</h2>
<div class="submission">

    {{submission_html|safe}}
</div>
</div>